.product-container {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    
}
.product-container .name h3, .product-container .name h4 {
    display: inline-block;

}

.product-container .image img {
    max-width: 200px;
    height: auto;
}

 .onSaleYes {
    background-color: limegreen;
}

.onSaleNo {
    background-color: darkgrey;
}

.cart {
    display: inline;
    background-color: lightgreen;
}


