<div class="product-container" *ngFor="let product of products; index as i" >
    <div class="background"
        [class]="product.onSale ? 'onSaleYes' : 'onSaleNo'">
        <div class="name"><h3>{{product.name}}</h3></div>
        <div class="price">${{product.price}}</div>
        <div class="image"><img src='{{product.imagePath}}'></div>
    </div>
    <hr />
    <div class="cart">
        <p>Qty: {{product.quantityInCart}}  </p> 
        <select>
            <option [value]="qty" *ngFor="let qty of quantities">{{qty}}</option>
        </select>
    </div>
    <div>
        <button (click)="product.incrementCart($event,index)">+</button>
        <button (click)="product.decrementCart($event,index)"
        [disabled]="product.notInCart()"
            >-</button>

</div>



